$leg-item-names: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) !default;
.chartist-legend{
    list-style: none;
    .leg-item{
        display:inline-block;
        width: 20px;
        height: 20px;
    }
}
